@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --scissors-1: hsl(39, 89%, 49%);
  --scissors-2: hsl(40, 84%, 53%);
  --paper-1: hsl(230, 89%, 62%);
  --paper-2: hsl(230, 89%, 65%);
  --rock-1: hsl(349, 71%, 52%);
  --rock-2: hsl(349, 70%, 56%);
  --lizzard-1: hsl(261, 73%, 60%);
  --lizzard-2: hsl(261, 72%, 63%);
  --cyan-1: hsl(189, 59%, 53%);
  --cyan-2: hsl(189, 58%, 57%);
  --dark-text: hsl(229, 25%, 31%);
  --score-text: hsl(229, 64%, 46%);
  --header-outline: hsl(217, 16%, 45%);
  --background-1: hsl(214, 47%, 23%);
  --background-2: hsl(237, 49%, 15%);
}

html,
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: var(--background-1);
  background: radial-gradient(at top, var(--background-1), var(--background-2));
}

/* modal */
.rules-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-header img {
    height: min-content;
    margin: 0;
}

.modal-header h2 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--dark-text)
}
